nifi/team-07flow_services.json
{
  "flowContents": {
    "identifier": "668ed9da-daef-3d17-bee3-3594d45f6939",
    "instanceIdentifier": "c1743ac9-019a-1000-8872-2e8f72575f95",
    "name": "NiFi Flow",
    "comments": "",
    "position": {
      "x": 0,
      "y": 0
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "82f770a3-6aae-3bd7-a890-edff2ffbb466",
        "instanceIdentifier": "faf9a578-019a-1000-0e09-c027e95c0e2b",
        "name": "Archive Symptom Reports",
        "comments": "",
        "position": {
          "x": -560,
          "y": 936
        },
        "type": "org.apache.nifi.processors.standard.PutFile",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "properties": {
          "Group": null,
          "Owner": null,
          "Create Missing Directories": "true",
          "Permissions": null,
          "Maximum File Count": null,
          "Last Modified Time": null,
          "Directory": "/opt/nifi/archive/team07",
          "Conflict Resolution Strategy": "replace"
        },
        "propertyDescriptors": {
          "Group": {
            "name": "Group",
            "displayName": "Group",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Owner": {
            "name": "Owner",
            "displayName": "Owner",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Create Missing Directories": {
            "name": "Create Missing Directories",
            "displayName": "Create Missing Directories",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Permissions": {
            "name": "Permissions",
            "displayName": "Permissions",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum File Count": {
            "name": "Maximum File Count",
            "displayName": "Maximum File Count",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Last Modified Time": {
            "name": "Last Modified Time",
            "displayName": "Last Modified Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Directory": {
            "name": "Directory",
            "displayName": "Directory",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Conflict Resolution Strategy": {
            "name": "Conflict Resolution Strategy",
            "displayName": "Conflict Resolution Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success",
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "c8d6e094-f129-320c-bfa9-f3a6e4940bd0",
        "instanceIdentifier": "e5c5626d-019a-1000-63a4-54acf34f4ada",
        "name": "Extract event_type",
        "comments": "",
        "position": {
          "x": -16,
          "y": -232
        },
        "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "properties": {
          "Destination": "flowfile-attribute",
          "event_type": "$.event_type",
          "Max String Length": "20 MB",
          "Return Type": "auto-detect",
          "Null Value Representation": "empty string",
          "Path Not Found Behavior": "ignore"
        },
        "propertyDescriptors": {
          "Destination": {
            "name": "Destination",
            "displayName": "Destination",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "event_type": {
            "name": "event_type",
            "displayName": "event_type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Max String Length": {
            "name": "Max String Length",
            "displayName": "Max String Length",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Return Type": {
            "name": "Return Type",
            "displayName": "Return Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Null Value Representation": {
            "name": "Null Value Representation",
            "displayName": "Null Value Representation",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Path Not Found Behavior": {
            "name": "Path Not Found Behavior",
            "displayName": "Path Not Found Behavior",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure",
          "unmatched"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "f36e478f-abf6-3997-82c7-33a400748397",
        "instanceIdentifier": "eb9f272f-019a-1000-bd04-b9a0a063cff0",
        "name": "Enrich Symptom Reports",
        "comments": "",
        "position": {
          "x": -552,
          "y": 376
        },
        "type": "org.apache.nifi.processors.standard.UpdateRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "properties": {
          "/team_id": "07",
          "/event_source": "ds551-event-generator",
          "Record Writer": "2f2440ba-cb1c-3d8c-9ae4-90dd64846d8e",
          "Record Reader": "c9960cfb-f34a-36af-9521-e1d0430a4a95",
          "/processing_timestamp": "${now():format(\"yyyy-MM-dd HH:mm:ss\")}",
          "Replacement Value Strategy": "literal-value"
        },
        "propertyDescriptors": {
          "/team_id": {
            "name": "/team_id",
            "displayName": "/team_id",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "/event_source": {
            "name": "/event_source",
            "displayName": "/event_source",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Record Writer": {
            "name": "Record Writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Record Reader": {
            "name": "Record Reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "/processing_timestamp": {
            "name": "/processing_timestamp",
            "displayName": "/processing_timestamp",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Replacement Value Strategy": {
            "name": "Replacement Value Strategy",
            "displayName": "Replacement Value Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "fa24bade-019a-1000-5b8e-41fedf904ddb",
        "instanceIdentifier": "423e1eba-11c8-32a8-d8c9-a443f15da426",
        "name": "Enrich Environmental Events",
        "comments": "",
        "position": {
          "x": 520,
          "y": 376
        },
        "type": "org.apache.nifi.processors.standard.UpdateRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "properties": {
          "/team_id": "07",
          "/event_source": "ds551-event-generator",
          "Record Writer": "2f2440ba-cb1c-3d8c-9ae4-90dd64846d8e",
          "Record Reader": "c9960cfb-f34a-36af-9521-e1d0430a4a95",
          "/processing_timestamp": "${now():format(\"yyyy-MM-dd HH:mm:ss\")}",
          "Replacement Value Strategy": "literal-value"
        },
        "propertyDescriptors": {
          "/team_id": {
            "name": "/team_id",
            "displayName": "/team_id",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "/event_source": {
            "name": "/event_source",
            "displayName": "/event_source",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Record Writer": {
            "name": "Record Writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Record Reader": {
            "name": "Record Reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "/processing_timestamp": {
            "name": "/processing_timestamp",
            "displayName": "/processing_timestamp",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Replacement Value Strategy": {
            "name": "Replacement Value Strategy",
            "displayName": "Replacement Value Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "16e15d5d-f64b-3fd3-9f52-02c57430e8e6",
        "instanceIdentifier": "faf40fc4-019a-1000-8a1d-f28dd0d5d83b",
        "name": "Publish Environmental",
        "comments": "",
        "position": {
          "x": 520,
          "y": 656
        },
        "type": "org.apache.nifi.kafka.processors.PublishKafka",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-kafka-nar",
          "version": "2.6.0"
        },
        "properties": {
          "compression.type": "none",
          "acks": "all",
          "Message Demarcator": null,
          "Kafka Key Attribute Encoding": "utf-8",
          "Record Reader": null,
          "Record Metadata Strategy": "FROM_PROPERTIES",
          "Transactional ID Prefix": null,
          "Header Encoding": "UTF-8",
          "max.request.size": "1 MB",
          "Topic Name": "ds551-f25.team07.environmental",
          "Kafka Key": null,
          "partition": null,
          "Kafka Connection Service": "a30ad79e-4062-39ad-b355-ef3caa9aaf08",
          "Publish Strategy": "USE_VALUE",
          "Record Key Writer": null,
          "Failure Strategy": "Route to Failure",
          "partitioner.class": "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
          "Record Writer": null,
          "Transactions Enabled": "false",
          "Message Key Field": null,
          "FlowFile Attribute Header Pattern": null
        },
        "propertyDescriptors": {
          "compression.type": {
            "name": "compression.type",
            "displayName": "Compression Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "acks": {
            "name": "acks",
            "displayName": "Delivery Guarantee",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Message Demarcator": {
            "name": "Message Demarcator",
            "displayName": "Message Demarcator",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Kafka Key Attribute Encoding": {
            "name": "Kafka Key Attribute Encoding",
            "displayName": "Kafka Key Attribute Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Reader": {
            "name": "Record Reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Record Metadata Strategy": {
            "name": "Record Metadata Strategy",
            "displayName": "Record Metadata Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Transactional ID Prefix": {
            "name": "Transactional ID Prefix",
            "displayName": "Transactional ID Prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Header Encoding": {
            "name": "Header Encoding",
            "displayName": "Header Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "max.request.size": {
            "name": "max.request.size",
            "displayName": "Max Request Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Topic Name": {
            "name": "Topic Name",
            "displayName": "Topic Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Kafka Key": {
            "name": "Kafka Key",
            "displayName": "Kafka Key",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "partition": {
            "name": "partition",
            "displayName": "Partition",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Kafka Connection Service": {
            "name": "Kafka Connection Service",
            "displayName": "Kafka Connection Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Publish Strategy": {
            "name": "Publish Strategy",
            "displayName": "Publish Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Key Writer": {
            "name": "Record Key Writer",
            "displayName": "Record Key Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Failure Strategy": {
            "name": "Failure Strategy",
            "displayName": "Failure Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "partitioner.class": {
            "name": "partitioner.class",
            "displayName": "Partitioner Class",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Writer": {
            "name": "Record Writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Transactions Enabled": {
            "name": "Transactions Enabled",
            "displayName": "Transactions Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Message Key Field": {
            "name": "Message Key Field",
            "displayName": "Message Key Field",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "FlowFile Attribute Header Pattern": {
            "name": "FlowFile Attribute Header Pattern",
            "displayName": "FlowFile Attribute Header Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "84b219b0-b85d-3d8f-ab29-c5f85ffa7eb9",
        "instanceIdentifier": "faeb46fa-019a-1000-a7fd-815cc36c093f",
        "name": "Publish Symptom Reports",
        "comments": "",
        "position": {
          "x": -560,
          "y": 656
        },
        "type": "org.apache.nifi.kafka.processors.PublishKafka",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-kafka-nar",
          "version": "2.6.0"
        },
        "properties": {
          "compression.type": "none",
          "acks": "all",
          "Message Demarcator": null,
          "Kafka Key Attribute Encoding": "utf-8",
          "Record Reader": null,
          "Record Metadata Strategy": "FROM_PROPERTIES",
          "Transactional ID Prefix": null,
          "Header Encoding": "UTF-8",
          "max.request.size": "1 MB",
          "Topic Name": "ds551-f25.team07.symptom_reports",
          "Kafka Key": null,
          "partition": null,
          "Kafka Connection Service": "a30ad79e-4062-39ad-b355-ef3caa9aaf08",
          "Publish Strategy": "USE_VALUE",
          "Record Key Writer": null,
          "Failure Strategy": "Route to Failure",
          "partitioner.class": "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
          "Record Writer": null,
          "Transactions Enabled": "false",
          "Message Key Field": null,
          "FlowFile Attribute Header Pattern": null
        },
        "propertyDescriptors": {
          "compression.type": {
            "name": "compression.type",
            "displayName": "Compression Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "acks": {
            "name": "acks",
            "displayName": "Delivery Guarantee",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Message Demarcator": {
            "name": "Message Demarcator",
            "displayName": "Message Demarcator",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Kafka Key Attribute Encoding": {
            "name": "Kafka Key Attribute Encoding",
            "displayName": "Kafka Key Attribute Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Reader": {
            "name": "Record Reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Record Metadata Strategy": {
            "name": "Record Metadata Strategy",
            "displayName": "Record Metadata Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Transactional ID Prefix": {
            "name": "Transactional ID Prefix",
            "displayName": "Transactional ID Prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Header Encoding": {
            "name": "Header Encoding",
            "displayName": "Header Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "max.request.size": {
            "name": "max.request.size",
            "displayName": "Max Request Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Topic Name": {
            "name": "Topic Name",
            "displayName": "Topic Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Kafka Key": {
            "name": "Kafka Key",
            "displayName": "Kafka Key",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "partition": {
            "name": "partition",
            "displayName": "Partition",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Kafka Connection Service": {
            "name": "Kafka Connection Service",
            "displayName": "Kafka Connection Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Publish Strategy": {
            "name": "Publish Strategy",
            "displayName": "Publish Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Key Writer": {
            "name": "Record Key Writer",
            "displayName": "Record Key Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Failure Strategy": {
            "name": "Failure Strategy",
            "displayName": "Failure Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "partitioner.class": {
            "name": "partitioner.class",
            "displayName": "Partitioner Class",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Writer": {
            "name": "Record Writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Transactions Enabled": {
            "name": "Transactions Enabled",
            "displayName": "Transactions Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Message Key Field": {
            "name": "Message Key Field",
            "displayName": "Message Key Field",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "FlowFile Attribute Header Pattern": {
            "name": "FlowFile Attribute Header Pattern",
            "displayName": "FlowFile Attribute Header Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "adf5ff54-c44f-3326-b26a-b6dfafac269c",
        "instanceIdentifier": "fb06083b-019a-1000-312e-d2e592e3e96e",
        "name": "PutFile",
        "comments": "",
        "position": {
          "x": -16,
          "y": 936
        },
        "type": "org.apache.nifi.processors.standard.PutFile",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "properties": {
          "Group": null,
          "Owner": null,
          "Create Missing Directories": "true",
          "Permissions": null,
          "Maximum File Count": null,
          "Last Modified Time": null,
          "Directory": "/opt/nifi/archive/team07",
          "Conflict Resolution Strategy": "replace"
        },
        "propertyDescriptors": {
          "Group": {
            "name": "Group",
            "displayName": "Group",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Owner": {
            "name": "Owner",
            "displayName": "Owner",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Create Missing Directories": {
            "name": "Create Missing Directories",
            "displayName": "Create Missing Directories",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Permissions": {
            "name": "Permissions",
            "displayName": "Permissions",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum File Count": {
            "name": "Maximum File Count",
            "displayName": "Maximum File Count",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Last Modified Time": {
            "name": "Last Modified Time",
            "displayName": "Last Modified Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Directory": {
            "name": "Directory",
            "displayName": "Directory",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Conflict Resolution Strategy": {
            "name": "Conflict Resolution Strategy",
            "displayName": "Conflict Resolution Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success",
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "05e8aa3c-002d-3e98-9806-5d8bde2e66d9",
        "instanceIdentifier": "faf165aa-019a-1000-c028-7dbb87d2d2fd",
        "name": "Publish Clinic Visits",
        "comments": "",
        "position": {
          "x": -16,
          "y": 656
        },
        "type": "org.apache.nifi.kafka.processors.PublishKafka",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-kafka-nar",
          "version": "2.6.0"
        },
        "properties": {
          "compression.type": "none",
          "acks": "all",
          "Message Demarcator": null,
          "Kafka Key Attribute Encoding": "utf-8",
          "Record Reader": null,
          "Record Metadata Strategy": "FROM_PROPERTIES",
          "Transactional ID Prefix": null,
          "Header Encoding": "UTF-8",
          "max.request.size": "1 MB",
          "Topic Name": "ds551-f25.team07.clinic_visits",
          "Kafka Key": null,
          "partition": null,
          "Kafka Connection Service": "a30ad79e-4062-39ad-b355-ef3caa9aaf08",
          "Publish Strategy": "USE_VALUE",
          "Record Key Writer": null,
          "Failure Strategy": "Route to Failure",
          "partitioner.class": "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
          "Record Writer": null,
          "Transactions Enabled": "false",
          "Message Key Field": null,
          "FlowFile Attribute Header Pattern": null
        },
        "propertyDescriptors": {
          "compression.type": {
            "name": "compression.type",
            "displayName": "Compression Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "acks": {
            "name": "acks",
            "displayName": "Delivery Guarantee",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Message Demarcator": {
            "name": "Message Demarcator",
            "displayName": "Message Demarcator",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Kafka Key Attribute Encoding": {
            "name": "Kafka Key Attribute Encoding",
            "displayName": "Kafka Key Attribute Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Reader": {
            "name": "Record Reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Record Metadata Strategy": {
            "name": "Record Metadata Strategy",
            "displayName": "Record Metadata Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Transactional ID Prefix": {
            "name": "Transactional ID Prefix",
            "displayName": "Transactional ID Prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Header Encoding": {
            "name": "Header Encoding",
            "displayName": "Header Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "max.request.size": {
            "name": "max.request.size",
            "displayName": "Max Request Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Topic Name": {
            "name": "Topic Name",
            "displayName": "Topic Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Kafka Key": {
            "name": "Kafka Key",
            "displayName": "Kafka Key",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "partition": {
            "name": "partition",
            "displayName": "Partition",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Kafka Connection Service": {
            "name": "Kafka Connection Service",
            "displayName": "Kafka Connection Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Publish Strategy": {
            "name": "Publish Strategy",
            "displayName": "Publish Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Key Writer": {
            "name": "Record Key Writer",
            "displayName": "Record Key Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Failure Strategy": {
            "name": "Failure Strategy",
            "displayName": "Failure Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "partitioner.class": {
            "name": "partitioner.class",
            "displayName": "Partitioner Class",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Writer": {
            "name": "Record Writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Transactions Enabled": {
            "name": "Transactions Enabled",
            "displayName": "Transactions Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Message Key Field": {
            "name": "Message Key Field",
            "displayName": "Message Key Field",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "FlowFile Attribute Header Pattern": {
            "name": "FlowFile Attribute Header Pattern",
            "displayName": "FlowFile Attribute Header Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "2fc37e3b-b79e-3219-b035-ddeb145597bd",
        "instanceIdentifier": "e5c1b55b-019a-1000-3074-86edc88c2b80",
        "name": "ConsumeKafka",
        "comments": "",
        "position": {
          "x": -16,
          "y": -480
        },
        "type": "org.apache.nifi.kafka.processors.ConsumeKafka",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-kafka-nar",
          "version": "2.6.0"
        },
        "properties": {
          "Topics": "ds551-f25.team07.raw",
          "Commit Offsets": "true",
          "Header Name Pattern": null,
          "Key Format": "byte-array",
          "Key Record Reader": null,
          "Message Demarcator": null,
          "Record Reader": null,
          "Key Attribute Encoding": "utf-8",
          "Max Uncommitted Size": null,
          "Topic Format": "names",
          "Header Encoding": "UTF-8",
          "Max Uncommitted Time": "100 millis",
          "Kafka Connection Service": "a30ad79e-4062-39ad-b355-ef3caa9aaf08",
          "Separate By Key": "false",
          "Processing Strategy": "FLOW_FILE",
          "Record Writer": null,
          "Group ID": "team07-nifi-consumer",
          "auto.offset.reset": "latest",
          "Output Strategy": "USE_VALUE"
        },
        "propertyDescriptors": {
          "Topics": {
            "name": "Topics",
            "displayName": "Topics",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Commit Offsets": {
            "name": "Commit Offsets",
            "displayName": "Commit Offsets",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Header Name Pattern": {
            "name": "Header Name Pattern",
            "displayName": "Header Name Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Key Format": {
            "name": "Key Format",
            "displayName": "Key Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Key Record Reader": {
            "name": "Key Record Reader",
            "displayName": "Key Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Message Demarcator": {
            "name": "Message Demarcator",
            "displayName": "Message Demarcator",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Reader": {
            "name": "Record Reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Key Attribute Encoding": {
            "name": "Key Attribute Encoding",
            "displayName": "Key Attribute Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max Uncommitted Size": {
            "name": "Max Uncommitted Size",
            "displayName": "Max Uncommitted Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Topic Format": {
            "name": "Topic Format",
            "displayName": "Topic Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Header Encoding": {
            "name": "Header Encoding",
            "displayName": "Header Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max Uncommitted Time": {
            "name": "Max Uncommitted Time",
            "displayName": "Max Uncommitted Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Kafka Connection Service": {
            "name": "Kafka Connection Service",
            "displayName": "Kafka Connection Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Separate By Key": {
            "name": "Separate By Key",
            "displayName": "Separate By Key",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Processing Strategy": {
            "name": "Processing Strategy",
            "displayName": "Processing Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Writer": {
            "name": "Record Writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Group ID": {
            "name": "Group ID",
            "displayName": "Group ID",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "auto.offset.reset": {
            "name": "auto.offset.reset",
            "displayName": "Auto Offset Reset",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Output Strategy": {
            "name": "Output Strategy",
            "displayName": "Output Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "fa239b95-019a-1000-f5e2-c6b0e7ff71e1",
        "instanceIdentifier": "78edb7ba-6f6d-33b1-8638-018a9759a836",
        "name": "Enrich Clinic Visits",
        "comments": "",
        "position": {
          "x": -16,
          "y": 376
        },
        "type": "org.apache.nifi.processors.standard.UpdateRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "properties": {
          "/team_id": "07",
          "/event_source": "ds551-event-generator",
          "Record Writer": "2f2440ba-cb1c-3d8c-9ae4-90dd64846d8e",
          "Record Reader": "c9960cfb-f34a-36af-9521-e1d0430a4a95",
          "/processing_timestamp": "${now():format(\"yyyy-MM-dd HH:mm:ss\")}",
          "Replacement Value Strategy": "literal-value"
        },
        "propertyDescriptors": {
          "/team_id": {
            "name": "/team_id",
            "displayName": "/team_id",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "/event_source": {
            "name": "/event_source",
            "displayName": "/event_source",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Record Writer": {
            "name": "Record Writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Record Reader": {
            "name": "Record Reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "/processing_timestamp": {
            "name": "/processing_timestamp",
            "displayName": "/processing_timestamp",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Replacement Value Strategy": {
            "name": "Replacement Value Strategy",
            "displayName": "Replacement Value Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "8476aa7a-ccc3-37c2-9305-ab2dee63ba44",
        "instanceIdentifier": "e5dc2461-019a-1000-7df7-716f9e842c64",
        "name": "Route by event_type",
        "comments": "",
        "position": {
          "x": -16,
          "y": 8
        },
        "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "properties": {
          "clinic_visit": "${event_type:equals(\"clinic_visit\")}",
          "Routing Strategy": "Route to Property name",
          "environmental_conditions": "${event_type:equals(\"environmental_conditions\")}",
          "symptom_report": "${event_type:equals(\"symptom_report\")}"
        },
        "propertyDescriptors": {
          "clinic_visit": {
            "name": "clinic_visit",
            "displayName": "clinic_visit",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Routing Strategy": {
            "name": "Routing Strategy",
            "displayName": "Routing Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "environmental_conditions": {
            "name": "environmental_conditions",
            "displayName": "environmental_conditions",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "symptom_report": {
            "name": "symptom_report",
            "displayName": "symptom_report",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "unmatched"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "07101388-200a-32d9-a16f-c86c65389a6e",
        "instanceIdentifier": "fb070974-019a-1000-dca7-554669e3180f",
        "name": "PutFile",
        "comments": "",
        "position": {
          "x": 520,
          "y": 936
        },
        "type": "org.apache.nifi.processors.standard.PutFile",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "properties": {
          "Group": null,
          "Owner": null,
          "Create Missing Directories": "true",
          "Permissions": null,
          "Maximum File Count": null,
          "Last Modified Time": null,
          "Directory": "/opt/nifi/archive/team07",
          "Conflict Resolution Strategy": "replace"
        },
        "propertyDescriptors": {
          "Group": {
            "name": "Group",
            "displayName": "Group",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Owner": {
            "name": "Owner",
            "displayName": "Owner",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Create Missing Directories": {
            "name": "Create Missing Directories",
            "displayName": "Create Missing Directories",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Permissions": {
            "name": "Permissions",
            "displayName": "Permissions",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum File Count": {
            "name": "Maximum File Count",
            "displayName": "Maximum File Count",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Last Modified Time": {
            "name": "Last Modified Time",
            "displayName": "Last Modified Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Directory": {
            "name": "Directory",
            "displayName": "Directory",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Conflict Resolution Strategy": {
            "name": "Conflict Resolution Strategy",
            "displayName": "Conflict Resolution Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success",
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "7feb5dc5-5e6b-3914-bd40-8ee65df4aaa2",
        "instanceIdentifier": "e5cb0a4b-019a-1000-3005-a8b99460b75e",
        "name": "",
        "source": {
          "id": "2fc37e3b-b79e-3219-b035-ddeb145597bd",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "ConsumeKafka",
          "comments": "",
          "instanceIdentifier": "e5c1b55b-019a-1000-3074-86edc88c2b80"
        },
        "destination": {
          "id": "c8d6e094-f129-320c-bfa9-f3a6e4940bd0",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "Extract event_type",
          "comments": "",
          "instanceIdentifier": "e5c5626d-019a-1000-63a4-54acf34f4ada"
        },
        "labelIndex": 0,
        "zIndex": 1,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "d3335bd7-2115-3e90-a26b-c673067938fd",
        "instanceIdentifier": "faf4346c-019a-1000-69e5-e0beed02eb3a",
        "name": "",
        "source": {
          "id": "fa24bade-019a-1000-5b8e-41fedf904ddb",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "Enrich Environmental Events",
          "comments": "",
          "instanceIdentifier": "423e1eba-11c8-32a8-d8c9-a443f15da426"
        },
        "destination": {
          "id": "16e15d5d-f64b-3fd3-9f52-02c57430e8e6",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "Publish Environmental",
          "comments": "",
          "instanceIdentifier": "faf40fc4-019a-1000-8a1d-f28dd0d5d83b"
        },
        "labelIndex": 0,
        "zIndex": 8,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "43a5090f-f26b-3de6-bb27-e8e3249e4667",
        "instanceIdentifier": "fae7faa5-019a-1000-c6c7-3c22752e2b44",
        "name": "",
        "source": {
          "id": "8476aa7a-ccc3-37c2-9305-ab2dee63ba44",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "Route by event_type",
          "comments": "",
          "instanceIdentifier": "e5dc2461-019a-1000-7df7-716f9e842c64"
        },
        "destination": {
          "id": "fa24bade-019a-1000-5b8e-41fedf904ddb",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "Enrich Environmental Events",
          "comments": "",
          "instanceIdentifier": "423e1eba-11c8-32a8-d8c9-a443f15da426"
        },
        "labelIndex": 0,
        "zIndex": 5,
        "selectedRelationships": [
          "environmental_conditions"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "633df57a-a773-367c-810e-c553c61c6291",
        "instanceIdentifier": "fb01f473-019a-1000-5599-967fbc9d8033",
        "name": "",
        "source": {
          "id": "84b219b0-b85d-3d8f-ab29-c5f85ffa7eb9",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "Publish Symptom Reports",
          "comments": "",
          "instanceIdentifier": "faeb46fa-019a-1000-a7fd-815cc36c093f"
        },
        "destination": {
          "id": "82f770a3-6aae-3bd7-a890-edff2ffbb466",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "Archive Symptom Reports",
          "comments": "",
          "instanceIdentifier": "faf9a578-019a-1000-0e09-c027e95c0e2b"
        },
        "labelIndex": 0,
        "zIndex": 9,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "50bd7a4f-720f-3f33-8f5b-2b891393207e",
        "instanceIdentifier": "fae7a4fd-019a-1000-90ec-2df2e3ac538b",
        "name": "",
        "source": {
          "id": "8476aa7a-ccc3-37c2-9305-ab2dee63ba44",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "Route by event_type",
          "comments": "",
          "instanceIdentifier": "e5dc2461-019a-1000-7df7-716f9e842c64"
        },
        "destination": {
          "id": "f36e478f-abf6-3997-82c7-33a400748397",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "Enrich Symptom Reports",
          "comments": "",
          "instanceIdentifier": "eb9f272f-019a-1000-bd04-b9a0a063cff0"
        },
        "labelIndex": 0,
        "zIndex": 3,
        "selectedRelationships": [
          "symptom_report"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "6f188efc-a2ca-3313-8218-48e032252166",
        "instanceIdentifier": "e5fa3377-019a-1000-47f1-b714ac09c3fb",
        "name": "",
        "source": {
          "id": "c8d6e094-f129-320c-bfa9-f3a6e4940bd0",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "Extract event_type",
          "comments": "",
          "instanceIdentifier": "e5c5626d-019a-1000-63a4-54acf34f4ada"
        },
        "destination": {
          "id": "8476aa7a-ccc3-37c2-9305-ab2dee63ba44",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "Route by event_type",
          "comments": "",
          "instanceIdentifier": "e5dc2461-019a-1000-7df7-716f9e842c64"
        },
        "labelIndex": 0,
        "zIndex": 2,
        "selectedRelationships": [
          "matched"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "ccb4cbe7-1c56-3b49-8f51-048d574586af",
        "instanceIdentifier": "fb062a26-019a-1000-61f5-e8962582b17d",
        "name": "",
        "source": {
          "id": "05e8aa3c-002d-3e98-9806-5d8bde2e66d9",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "Publish Clinic Visits",
          "comments": "",
          "instanceIdentifier": "faf165aa-019a-1000-c028-7dbb87d2d2fd"
        },
        "destination": {
          "id": "adf5ff54-c44f-3326-b26a-b6dfafac269c",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "PutFile",
          "comments": "",
          "instanceIdentifier": "fb06083b-019a-1000-312e-d2e592e3e96e"
        },
        "labelIndex": 0,
        "zIndex": 10,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "5125c44d-fe35-3651-a0fa-b8e63986235f",
        "instanceIdentifier": "fae7b5f6-019a-1000-d6d1-93e3c75cf501",
        "name": "",
        "source": {
          "id": "8476aa7a-ccc3-37c2-9305-ab2dee63ba44",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "Route by event_type",
          "comments": "",
          "instanceIdentifier": "e5dc2461-019a-1000-7df7-716f9e842c64"
        },
        "destination": {
          "id": "fa239b95-019a-1000-f5e2-c6b0e7ff71e1",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "Enrich Clinic Visits",
          "comments": "",
          "instanceIdentifier": "78edb7ba-6f6d-33b1-8638-018a9759a836"
        },
        "labelIndex": 0,
        "zIndex": 4,
        "selectedRelationships": [
          "clinic_visit"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "bc70ccec-51ed-3bea-997b-4ab752a8dd44",
        "instanceIdentifier": "faefd34e-019a-1000-6116-f7d78739a1cc",
        "name": "",
        "source": {
          "id": "f36e478f-abf6-3997-82c7-33a400748397",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "Enrich Symptom Reports",
          "comments": "",
          "instanceIdentifier": "eb9f272f-019a-1000-bd04-b9a0a063cff0"
        },
        "destination": {
          "id": "84b219b0-b85d-3d8f-ab29-c5f85ffa7eb9",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "Publish Symptom Reports",
          "comments": "",
          "instanceIdentifier": "faeb46fa-019a-1000-a7fd-815cc36c093f"
        },
        "labelIndex": 0,
        "zIndex": 6,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "ecd29c04-f8ba-358b-9542-8e4f93284aef",
        "instanceIdentifier": "faf18f8a-019a-1000-1831-e6f8da0948ec",
        "name": "",
        "source": {
          "id": "fa239b95-019a-1000-f5e2-c6b0e7ff71e1",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "Enrich Clinic Visits",
          "comments": "",
          "instanceIdentifier": "78edb7ba-6f6d-33b1-8638-018a9759a836"
        },
        "destination": {
          "id": "05e8aa3c-002d-3e98-9806-5d8bde2e66d9",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "Publish Clinic Visits",
          "comments": "",
          "instanceIdentifier": "faf165aa-019a-1000-c028-7dbb87d2d2fd"
        },
        "labelIndex": 0,
        "zIndex": 7,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "f3fd876b-0e37-3982-9ebc-506f80c52dce",
        "instanceIdentifier": "fb071cd0-019a-1000-1b31-87b7e8e1ac86",
        "name": "",
        "source": {
          "id": "16e15d5d-f64b-3fd3-9f52-02c57430e8e6",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "Publish Environmental",
          "comments": "",
          "instanceIdentifier": "faf40fc4-019a-1000-8a1d-f28dd0d5d83b"
        },
        "destination": {
          "id": "07101388-200a-32d9-a16f-c86c65389a6e",
          "type": "PROCESSOR",
          "groupId": "668ed9da-daef-3d17-bee3-3594d45f6939",
          "name": "PutFile",
          "comments": "",
          "instanceIdentifier": "fb070974-019a-1000-dca7-554669e3180f"
        },
        "labelIndex": 0,
        "zIndex": 11,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [
      {
        "identifier": "c9960cfb-f34a-36af-9521-e1d0430a4a95",
        "instanceIdentifier": "e5e5639a-019a-1000-d438-9d700575117f",
        "name": "JsonTreeReader",
        "comments": "",
        "type": "org.apache.nifi.json.JsonTreeReader",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "2.6.0"
        },
        "properties": {
          "schema-reference-reader": null,
          "schema-branch": null,
          "Max String Length": "20 MB",
          "schema-application-strategy": "SELECTED_PART",
          "Timestamp Format": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
          "schema-inference-cache": null,
          "Date Format": "yyyy-MM-dd",
          "schema-name": "${schema.name}",
          "starting-field-strategy": "ROOT_NODE",
          "schema-registry": null,
          "starting-field-name": null,
          "Time Format": "HH:mm:ss",
          "schema-access-strategy": "infer-schema",
          "schema-version": null,
          "schema-text": "${avro.schema}",
          "Allow Comments": "false"
        },
        "propertyDescriptors": {
          "schema-reference-reader": {
            "name": "schema-reference-reader",
            "displayName": "Schema Reference Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max String Length": {
            "name": "Max String Length",
            "displayName": "Max String Length",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-application-strategy": {
            "name": "schema-application-strategy",
            "displayName": "Schema Application Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-inference-cache": {
            "name": "schema-inference-cache",
            "displayName": "Schema Inference Cache",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "starting-field-strategy": {
            "name": "starting-field-strategy",
            "displayName": "Starting Field Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "starting-field-name": {
            "name": "starting-field-name",
            "displayName": "Starting Field Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Allow Comments": {
            "name": "Allow Comments",
            "displayName": "Allow Comments",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordReaderFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "2.6.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "a30ad79e-4062-39ad-b355-ef3caa9aaf08",
        "instanceIdentifier": "e142da5a-019a-1000-02c5-f53b80ab3c89",
        "name": "Kafka3ConnectionService",
        "comments": "",
        "type": "org.apache.nifi.kafka.service.Kafka3ConnectionService",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-kafka-3-service-nar",
          "version": "2.6.0"
        },
        "properties": {
          "ack.wait.time": "5 sec",
          "sasl.username": null,
          "max.poll.records": "10000",
          "bootstrap.servers": "kafka-team07:9092",
          "sasl.kerberos.service.name": null,
          "security.protocol": "PLAINTEXT",
          "SSL Context Service": null,
          "sasl.mechanism": "GSSAPI",
          "isolation.level": "read_committed",
          "oauth2-access-token-provider-service": null,
          "max.block.ms": "5 sec",
          "kerberos-user-service": null,
          "default.api.timeout.ms": "60 sec"
        },
        "propertyDescriptors": {
          "ack.wait.time": {
            "name": "ack.wait.time",
            "displayName": "Acknowledgment Wait Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "sasl.username": {
            "name": "sasl.username",
            "displayName": "SASL Username",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "max.poll.records": {
            "name": "max.poll.records",
            "displayName": "Max Poll Records",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "bootstrap.servers": {
            "name": "bootstrap.servers",
            "displayName": "Bootstrap Servers",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "sasl.kerberos.service.name": {
            "name": "sasl.kerberos.service.name",
            "displayName": "Kerberos Service Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "security.protocol": {
            "name": "security.protocol",
            "displayName": "Security Protocol",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "sasl.mechanism": {
            "name": "sasl.mechanism",
            "displayName": "SASL Mechanism",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "isolation.level": {
            "name": "isolation.level",
            "displayName": "Transaction Isolation Level",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "oauth2-access-token-provider-service": {
            "name": "oauth2-access-token-provider-service",
            "displayName": "OAuth2 Access Token Provider Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "max.block.ms": {
            "name": "max.block.ms",
            "displayName": "Max Metadata Wait Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "kerberos-user-service": {
            "name": "kerberos-user-service",
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "sasl.password": {
            "name": "sasl.password",
            "displayName": "SASL Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          },
          "default.api.timeout.ms": {
            "name": "default.api.timeout.ms",
            "displayName": "Client Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.kafka.service.api.KafkaConnectionService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-kafka-service-api-nar",
              "version": "2.6.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      },
      {
        "identifier": "2f2440ba-cb1c-3d8c-9ae4-90dd64846d8e",
        "instanceIdentifier": "e5e58956-019a-1000-3dcb-6a61cbc8acd2",
        "name": "JsonRecordSetWriter",
        "comments": "",
        "type": "org.apache.nifi.json.JsonRecordSetWriter",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "2.6.0"
        },
        "properties": {
          "schema-reference-reader": null,
          "schema-branch": null,
          "Allow Scientific Notation": "false",
          "compression-level": "1",
          "schema-cache": null,
          "Timestamp Format": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
          "Date Format": "yyyy-MM-dd",
          "Pretty Print JSON": "false",
          "compression-format": "none",
          "Schema Write Strategy": "no-schema",
          "suppress-nulls": "never-suppress",
          "output-grouping": "output-array",
          "schema-name": "${schema.name}",
          "schema-registry": null,
          "Time Format": "HH:mm:ss",
          "schema-access-strategy": "inherit-record-schema",
          "schema-version": null,
          "schema-text": "${avro.schema}",
          "Schema Reference Writer": null
        },
        "propertyDescriptors": {
          "schema-reference-reader": {
            "name": "schema-reference-reader",
            "displayName": "Schema Reference Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Allow Scientific Notation": {
            "name": "Allow Scientific Notation",
            "displayName": "Allow Scientific Notation",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "compression-level": {
            "name": "compression-level",
            "displayName": "Compression Level",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-cache": {
            "name": "schema-cache",
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Pretty Print JSON": {
            "name": "Pretty Print JSON",
            "displayName": "Pretty Print JSON",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "compression-format": {
            "name": "compression-format",
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Write Strategy": {
            "name": "Schema Write Strategy",
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "suppress-nulls": {
            "name": "suppress-nulls",
            "displayName": "Suppress Null Values",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "output-grouping": {
            "name": "output-grouping",
            "displayName": "Output Grouping",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Reference Writer": {
            "name": "Schema Reference Writer",
            "displayName": "Schema Reference Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "2.6.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "668ed9da-daef-3d17-bee3-3594d45f6939"
      }
    ],
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "scheduledState": "ENABLED",
    "executionEngine": "INHERITED",
    "maxConcurrentTasks": 1,
    "statelessFlowTimeout": "1 min",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "componentType": "PROCESS_GROUP"
  },
  "externalControllerServices": {},
  "parameterContexts": {},
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "latest": false
}
